# copy this file into /etc/systemd/system
[Unit]
Description=SIMP Wrapper around the IBM TPM2 Simulator

[Service]
Type=simple
Restart=no
Environment=LC_ALL=en_IE
EnvironmentFile=-/etc/default/simp-tpm2-simulator
StandardOutput=syslog
ExecStart=/usr/local/bin/simp-tpm2-simulator
User=simp-tpm2-sim
WorkingDirectory=/tmp

[Install]
WantedBy=multi-user.target

